:root {
    --color-1: #2E2F42;
    --color-2: #FFFFFF;
    --color-3: #F4F4FD;
    --color-4: #434455;
    --color-5: #E7E9FC;
    --color-6: #4D5AE5;
    --color-hover-button-studio: #404BBF /*Only color*/;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*Addition styles for */

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    width: 1158px;
}

/*Styles for index*/

/*Header*/

.container-header {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.top-part {
    background-color: var(--color-2);
}

.list-nav {
    display: flex;
    margin-right: 300px;
}

.list-nav :not(:last-child) {
    margin-right: 40px;
}

.list-li-nav {
    margin: 0;
}

.nav-a {
    padding-top: 24px;
    padding-bottom: 24px;
}

.contacts-ul {
    display: flex;
    align-items: center;
    margin: 0;
}

.contacts-ul .contacts-li + .contacts-li {
    margin-left: 40px;
}

.contacts-li {
    margin: 0;
}

.contacts-a {
    padding-top: 24px;
    padding-bottom: 24px;
}

/*Header*/

.main-link-header {
    padding: 0;

    width: 115px;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: 0.03em;

    text-transform: uppercase;
    text-decoration: none;
}

.first-part-header {
    color: var(--color-6);
}

.second-part-header {
    color: var(--color-1);
}

/*For every list on the web*/
.top-list,
.list-purposes,
.list-employments,
.list-team {
    list-style-type: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-a {
    text-decoration: none;
    font-weight: 600;
    color: var(--color-1);
}

.nav-a:hover,
.nav-a:focus,
.nav-a:active {
    color: var(--color-6);
}

.contacts-a {
    text-decoration: none;
    color: var(--color-4);
}

.contacts-a:hover,
.contacts-a:focus {
    color: var(--color-6);
}

/*Effective solutions for your business*/
.greeting {
    text-align: center;

    max-height: 603px;

    background-color: var(--color-1);
}

/*Text for Effective....*/
.main-starting {
    margin: 0;
    padding: 0;
    padding-top: 192px;
    padding-bottom: 48px;

    font-size: 56px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    color: var(--color-2);
}

/*Button - Order Service*/
.container-button .button-items {
    padding: 16px 32px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-family: inherit;
    cursor: pointer;

    color: var(--color-2);
    background-color: var(--color-6);
}

.button-items:focus,
.button-items:hover {
    background: var(--color-hover-button-studio);
}

.container-button {
    padding-bottom: 192px;
}

/*Purposes*/
.purposes {
    padding-top: 120px;
    padding-bottom: 120px;

    background-color: var(--color-2);
}

.list-purposes {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.list-li-purposes {
    width: calc(100% - 72px / 4);
}

.list-purposes .list-li-purposes + .list-li-purposes {
    margin-left: 24px;
}

.purposes-title {
    margin: 0;
    padding-bottom: 8px;

    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--color-1);
}

/*Purposes > p*/
.purposes-text {
    margin: 0;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color-4);
}

/*What Are We Doing?*/
.employments {
    margin-bottom: 120px;

    background-color: var(--color-2);
}

.title-photos {
    margin: 0;
    padding-bottom: 72px;
    text-align: center;

    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--color-1);
}

.list-employments {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.list-employments :not(:first-child) {
    margin-left: 24px;
}

/*Our Team*/

.our-team {
    padding-bottom: 120px;

    background-color: var(--color-3);
}

.title-photos-2 {
    margin: 0;
    margin-bottom: 72px;
    padding-top: 120px;
    text-align: center;

    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--color-1);
}

.list-team {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.list-team :not(:last-child) {
    margin-right: 24px;
}

.person-item-div {
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 32px;
    padding-bottom: 32px;

    letter-spacing: 0.02em;
}

.person-item {
    width: 264px;
    background-color: var(--color-2);
}

/*Names of four persons*/
.names {
    margin: 0;
    padding: 0;

    font-size: 20px;
    line-height: 1.2;

    color: var(--color-1);
}

/*Function of every participants*/
.position {
    margin: 0;
    padding-top: 8px;

    font-size: 16px;
    line-height: 1.5;
    
    color: var(--color-4);
}

/*Footer*/

/*Label - WEBSTUDIO*/

.main-link-footer {
    width: 115px;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.first-part-footer {
    color: var(--color-6);
}

.second-part-footer {
    color: var(--color-3);
}

/*Text of footer*/

.wrapper-footer {
    padding: 100px 0;
    background-color: var(--color-1);
}

.footer-div {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-text {
    margin: 0;
    padding: 0;
    padding-top: 16px;

    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color-5);
}

























/*Styles for Portfolio*/

/*list-portfolio-nav and Buttons*/

.portfolio-div {
    margin-left: auto;
    margin-right: auto;
    padding-top: 96px;
    padding-bottom: 120px;

    width: 1340px;
}

.list-portfolio-nav,
.list-portfolio-photos {
    list-style-type: none;
}

.list-portfolio-nav {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-bottom: 72px;
}

.list-portfolio-nav :not(:last-child) {
    margin-right: 24px;
}

.list-portfolio-nav .button-items {
    padding: 12px 24px;
    text-align: center;

    letter-spacing: 0.04em;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    border: 1px solid var(--color-5);
    cursor: pointer;

    color: var(--color-6);
    background-color: var(--color-3);
}

.list-portfolio-nav .button-items:hover,
.list-portfolio-nav .button-items:focus,
.list-portfolio-nav .button-items:active {
    border: 1px solid var(--color-6);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

    color: var(--color-2);
    background-color: var(--color-6);
}

/* Areas for portfolio */

.list-portfolio-photos {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}



/*Portfolio*/

.portfolio-photos-a {
    display: block;

    text-decoration: none;
    max-width: 100%;
}

.li-portfolio {
    margin: 0;
    padding: 0;
    margin-right: 24px;
    margin-bottom: 48px;
    
    border: 0.5px solid var(--color-3);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    background: var(--color-2);
}

.li-portfolio:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.li-portfolio:hover,
.li-portfolio:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*li-portfolio*/

.li-portfolio-text {
    padding: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.li-portfolio-1,
.li-portfolio-2,
.li-portfolio-3,
.li-portfolio-4,
.li-portfolio-5,
.li-portfolio-6,
.li-portfolio-7,
.li-portfolio-8,
.li-portfolio-9 {
    margin: 0;
    padding: 0;
    padding-bottom: 8px;

    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-1);
}

/*li-portfolio > portfolio-p */

.portfolio-p {
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-4);
}